* {
  padding: 0;
  margin: 0;
}
.main-container {
  background-color: #faa307;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.main-box-container {
  width: 859px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  padding-top: 20px;
  margin-top: 20px;
}
.red-box {
  background-color: #6a040f;
  width: 273px;
  height: 220px;
}
.blue-box {
  background-color: #03071e;
  width: 273px;
  height: 220px;
}
.circle {
  height: 50px;
  width: 50px;
  background-color: #748cab;
  border-radius: 50%;
}
.blue-box-1 {
  width: 200px;
  padding: 20px 0px 0px 20px;
  column-gap: 15px;
  row-gap: 15px;
  display: flex;
  flex-wrap: wrap;
}
.main-1 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.red-box-1 {
  width: 200px;
  padding: 20px 20px 20px 20px;
  column-gap: 15px;
  row-gap: 15px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}
