* {
  padding: 0;
  margin: 0;
}
.main-container {
  background-color: #370617;
  max-width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
}
.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 1152px;
  height: 700px;
  padding-top: 50px;
  justify-items: center;
}
.orange-container {
  width: 468px;
  height: 160px;
  background-color: #f48c06;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
}
.container-1 {
  display: flex;
  align-items: flex-end;
  column-gap: 15px;
}
.red-box {
  background-color: #9d0208;
  width: 78px;
  border-radius: 5px;
}
.red-box-1 {
  height: 78px;
}
.container-2 {
  display: flex;
  column-gap: 20px;
  justify-content: center;
}
.container-3 {
  display: flex;
  column-gap: 15px;
  justify-content: end;
  align-items: center;
}
.red-box-3 {
  height: 78px;
}

.container-4 {
  display: flex;
  column-gap: 100px;
}
.red-box-4 {
  height: 78px;
}

.box_4_end {
  align-self: flex-end;
}
.container-5 {
  display: flex;
  justify-content: center;
  column-gap: 50px;
}
.box_5_mdl {
  align-self: center;
  height: 64px;
}
